@model ProductDisplayModel
@{

}

<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Categories)
                {
                    <option selected="@(genre.Id == Model.CategoryId)" value="@genre.Id">@genre.CategoryName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex justify-content-center">
    <!-- Added justify-content-center class -->
    <div class="card-container d-flex flex-wrap justify-content-center">
        <!-- Added card-container class -->
        @foreach (var product in Model.Products)
        {
            <div class="card mx-3 mb-4" style="width: 11rem;">
                @if (string.IsNullOrEmpty(product.Image))
                {
                    <img style="width:auto;height:200px" src="/images/NoImage.jpg" class="card-img-top" alt="...">
                }
                else
                {
                    <img style="width:auto;height:200px" src="/images/@product.Image" class="card-img-top" alt="...">
                }
                <div class="card-body d-flex flex-column justify-content-between">
                    <!-- Added classes to make body a flex container -->
                    <div>
                        <h5 class="card-title">@product.ProductName</h5>
                        <div class="card-text">
                            <p>@product.Brand</p>
                            <p>R:@product.Price</p>
                        </div>
                    </div>
                    <button type="button" onclick="add(@product.Id)" class="btn btn-primary mt-auto">Add to cart</button> <!-- Added mt-auto class -->
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    <script>
        async function add(productId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
                @*
                var username=usernameEl.innerText;
                  if(username.length<1){
                     window.location.href="/Identity/Account/Login";
                }
                *@
            }
            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}